/* colors primary
    #2575cc blue
    #163172 blue page
    #eef3fa write bone

    colors secondary
    #85a8d1
    #b9c2e2
*/
/*----------------header-------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
*{
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: gray;
}

p{
    color: gray;
    font-weight: 200;
}

header{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: #f3f3f3;
    align-items: center;
    padding: 5px;
    padding-right: 75px;
}

.inicio{
    display: flex;
    color: #2575cc;
    align-items: center;
    padding-left: 75px;
    padding-right: 25px;
}

header h3{
    font-weight: 700;
}

nav a{
    font-weight: 700;
    padding-right: 30px;
}

nav a:hover{
    color: #85a8d1;
}

.btn1{
    object-position: right;
    border-radius: 4px;
    border: none;
    background-color: #163172;
    color: #f3f3f3;
    padding: 10px 20px 10px 20px;
    font-weight: 600;
}

/*--------------main---------------------*/

.main1{
    margin-left: 60px;
}

.titlemain{
    color: #163172;
    font-size: 40px;
    margin-bottom: 10px;
}

.parrafomain1{
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 30px;
}





/*----------------footer-----------------*/

footer{
    padding: 30px 30px 20px 30px;
    background-color: #f3f3f3;
    text-align: center;
    color: #2575cc;
}

footer p{
    font-weight: 600;
}

.footer1{
    padding: 5px;
    text-align: left;
    padding-left: 40px;
    font-size: 20px;
}

.footer2{
    padding: 5px;
    padding-left: 40px;
    line-height: 20px;
    text-align: left;
    font-size: small;
}

.info1{
    font-weight: 600;
    text-align: justify;
    margin-left: 500px;
    margin-top: -90px;
}

table th{
    color: #163172;
}

table td{
    padding-top: 10px;  
    padding-right: 30px;  
    font-size: small;
}

.final{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    margin-left: 30px;
    margin-right: 105px;
}

/*------------responsive-------------*/
/*
@media (max-width: 500px){
    header{
        flex-direction: column;
        padding-left: 10px;
    }
    
    .inicio{
        padding-top: 10px;
        padding-bottom: 5px;
    }

    footer{
        text-align: center;
    }
}*/

