/* colors primary
    #1f3e72 blue titles
    #2b4bc9 blue 

    #fefefe header
    #ffffff body
    #eef3ff footer
*/
/*----------------header-------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
*{
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: gray;
}

p{
    color: gray;
    font-weight: 200;
}

header{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: #fefefed8;
    align-items: center;
    padding: 5px;
    padding-right: 75px;
}

.inicio{
    display: flex;
    color: #2b4bc9;
    align-items: center;
    padding-left: 75px;
    padding-right: 25px;
}

header h3{
    font-weight: 700;
}

nav a{
    font-weight: 700;
    padding-right: 30px;
}

nav a:hover{
    color: #85a8d1;
}

.btn1{
    object-position: right;
    border-radius: 4px;
    border: none;
    background-color: #2b4bc9e7;
    color: #fefefe;
    padding: 10px 20px 10px 20px;
    font-weight: 600;
    box-shadow: -0.5px 0.5px 50px -5px #1f3e72;
}

/*--------------main parte1---------------------*/
.parte1{
    background-color: #ffffff; 
    min-height: 700px;
    z-index: -2;
    position: relative;
}

.main1{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 490px;
    height: 450px;
}

.titleMain{
    color: #1f3e72;
    font-size: 45px;
    min-width: 80%;
    height: 25%;
    margin: 50px 0px 0px 30px;
    display: flex;
    text-align:justify;
    justify-content: center;
}

.parrafoMain1{
    min-width: 70%;
    height: 15%;
    font-size: 80%;
    justify-content: center;
    margin: -75px 0px 0px 80px;
}

.info0{
    margin: -80px 0px 0px 70px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: left;
    gap: 0px 30px;
}

.info0 ul li{
    max-width: 150px;
    list-style: none;
    color: #1f3e72;
    font-size: 80%;
}

section h3{
    margin: 50px 0px 20px 80px;
    padding: 0px 0px 10px 20px;
    font-size: 15px;
    color: #1f3e72;
    font-weight: 600;
}

.horario{
    background-color: #ffffffd8;
    box-shadow: -0.5px 0.5px 50px -20px #1f3e72;
    min-width: 700px;
    min-height: 11%;
    margin: 0px 0px 0px 60px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.horario table tr th{
    color: gray;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 90px 0px 0px;
    margin: 0px 0px -20px 0px;
}

.horario table td{
    color: #1f3e72;
    font-weight: 600;
    text-align: justify;
    padding: 5px 0px 0px 0px; 
}

.submit1{
    display: flex;
    border-radius: 4px;
    border: none;
    padding: 10px 25px 10px 25px;
    margin: 0px 0px 0px 0px;
    background-color: #2b4bc9e7;
    box-shadow: 0px 2px 40px #1f3e72;
    color: #fefefe;
    font-weight: 600;
}

.vacunaImg{
    float: right;
    margin: -525px 0px 0px 0px;
    position: relative;
    z-index: -1;
}

/*-------------------Main Parte2-----------------*/
.titleMain2{
    background-color: #ffffff;
    color: #1f3e72;
    margin: 0px 0px 0px 80px;
}

.titleMain2 h2{
    font-size: 30px;
}

.titleMain2 p{
    font-size: 80%;
    margin: 20px 0px 0px 0px;
}

.info1{
    background-color: #ffffff;
    padding: 40px 0px 40px 0px;
    display: flex;
    justify-content: center;
    /*justify-content: space-around;*/
}

.info1 h3{
    margin: 20px 20px 10px 20px;
    font-size: 80%;
}

.info1 p{
    margin: 0px 20px 0px 20px;
    font-size: 70%;
}

.cubito{
    margin: 0px 10px 0px 10px;
    padding: 60px 0px 60px 0px;
    border: 2px solid #80808021;
    border-radius: 5px;
    box-shadow: 1px 1px 500px -50px #1f3e72;
}


/*-------------------footer-------------------------*/

footer{
    padding: 30px 30px 20px 30px;
    background-color: #eef3ff;
    text-align: center;
    color: #2b4bc9;
}

footer p{
    font-weight: 600;
}

.footer1{
    padding: 5px;
    text-align: left;
    padding-left: 40px;
    font-size: 20px;
}

.footer2{
    padding: 5px;
    padding-left: 40px;
    line-height: 20px;
    text-align: left;
    font-size: small;
}

.info4{
    font-weight: 600;
    text-align: justify;
    margin-left: 500px;
    margin-top: -90px;
}

table th{
    color: #1f3e72;
}

table td{
    padding-top: 10px;  
    padding-right: 30px;  
    font-size: small;
}

.final{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    margin-left: 30px;
    margin-right: 105px;
}

/*------------responsive-------------*/
/*
@media (max-width: 500px){
    header{
        flex-direction: column;
        padding-left: 10px;
    }
    
    .inicio{
        padding-top: 10px;
        padding-bottom: 5px;
    }

    footer{
        text-align: center;
    }
}*/

